[submodule "lib/saveLoadProcessor"]
	path = lib/saveLoadProcessor
	url = https://github.com/linbin823/Qt.711.2016.saveLoadProcessor.git
[submodule "lib/loadSaveProcessor"]
	path = lib/loadSaveProcessor
	url = https://github.com/linbin823/Qt.lib.2016.loadSaveProcessor2.git
